BR2_aarch64=y
BR2_CCACHE=y
BR2_CCACHE_DIR="/exported/systemreadyir/.buildroot-ccache"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.11.16"
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_HOST_UTIL_LINUX=y
