# architecture
BR2_arm=y
BR2_arm1136jf_s_r0=y
BR2_ARM_EABIHF=y

BR2_CCACHE=y

# toolchain
BR2_KERNEL_HEADERS_3_2=y
BR2_TOOLCHAIN_BUILDROOT_EGLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# system
BR2_ROOTFS_DEVICE_CREATION_STATIC=y
BR2_TARGET_GENERIC_GETTY_PORT="ttymxc0"
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set

# kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git://git.freescale.com/imx/linux-2.6-imx.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="rel_imx_2.6.28_5.1.0"
BR2_LINUX_KERNEL_PATCH="board/freescale/imx31_3stack/"
BR2_LINUX_KERNEL_DEFCONFIG="imx31_3stack"
BR2_LINUX_KERNEL_ZIMAGE=y
