BR2_openrisc=y
BR2_CCACHE=y
BR2_UCLIBC_VERSION_OPENRISC=y
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_PTHREADS=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.18-rc6"
BR2_LINUX_KERNEL_PATCH="board/openrisc/linux-0001-openrisc-vmlinux.lds.S-s-or32-or1k.patch"
BR2_LINUX_KERNEL_DEFCONFIG="or1ksim"
BR2_LINUX_KERNEL_VMLINUX=y
BR2_PACKAGE_MEMTESTER=y
BR2_TARGET_ROOTFS_CPIO_LZO=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_PACKAGE_HOST_OPENOCD=y
BR2_PACKAGE_HOST_OR1KSIM=y
